= form_for([:admin, @bus]) do |f|
  .panel
    .panel-body
      = f.hidden_field :name, value: t('buses.forms.name')
      .form-group{class: ('has-error' if @bus.errors.include? :kind)}
        = f.label :kind, t('helpers.kind')
        = f.select(:kind, options_for_select(kind_option_for_select, @bus.kind), {}, {:class=>'form-control'})
        - if @bus.errors.include? :kind
          %p.help-block
            - @bus.errors[:kind].each do |message|
              = message
      .form-group{class: ('has-error' if @bus.errors.include? :depart)}
        = f.label :depart, t('helpers.depart')
        = f.time_field :depart, class: 'form-control', placeholder: t('helpers.depart')
        - if @bus.errors.include? :depart
          %p.help-block
            - @bus.errors[:depart].each do |message|
              = message
      .form-group{class: ('has-error' if @bus.errors.include? :special)}
        = f.label :special, class: 'checkbox-inline' do
          = f.check_box :special, class: 'px'
          %span.lbl= t('helpers.special')
        - if @bus.errors.include? :special
          %p.help-block
            - @bus.errors[:special].each do |message|
              = message
  .panel
    .panel-body
      .pull-right
        = link_to t('helpers.back'), admin_buses_path, class: 'btn btn-default btn-flat'
        = f.submit class: 'btn btn-success btn-flat'