#main-menu{:role => "navigation"}
  #main-menu-inner
    %ul.navigation
      %li
        = link_to admin_buses_path do
          %i.menu-icon.fa.fa-bus
          %span.mm-text= t('buses.name')
      %li
        = link_to admin_oranges_path do
          %i.menu-icon.fa.fa-bus
          %span.mm-text= t('oranges.name')
      %li
        = link_to admin_users_path do
          %i.menu-icon.fa.fa-users
          %span.mm-text= t('user_management')