#info
  %h1.depart
    = @bus.depart.strftime("%H:%M")
  .recent_depart.hide
    = @recent_depart.depart.strftime("%H:%M")
  .details
    %h3
      = kind_enum(@bus.kind)
      \-
      = @bus.note
      - if @bus.special
        %span.label.label-danger= t('helpers.overtime_car')
  .detail_note
    - if @bus.kind == 1
      ✱
      %strong= t 'notify.master_note'

