.row.text-center#about
  .col-md-12
    %h1 關於網站
    %p
      本網站主要提供航警局與航廈來往車班資訊，並包含亞通客運，以方便同仁搭車。
    %p
      資料來源：安檢隊-駕駛班所提供、亞通客運-桃園機場巡迴巴士
    %br

    %h3 贊助 - Donate
    %p
      如果你覺得這個服務很好，可以贊助這個網站。
      %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
        %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
        %input{:name => "hosted_button_id", :type => "hidden", :value => "NG7CYR4SWSAZ6"}/
        %input{:alt => "Donate", :border => "0", :name => "submit", :src => "https://www.paypal.com/zh_CN/i/btn/btn_donateCC_LG.gif", :title => "PayPal - The safer, easier way to pay online!", :type => "image"}/
        %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypal.com/zh_CN/i/scr/pixel.gif", :width => "1"}/
    %br

    %h3 開放資料 - Open data
    %p
      提供API服務，詳細API Doc，請參考文件
      = link_to 'API Doc', api_doc_path, class: 'dotted mixpanel-tracked'
    %br

    %h3 開放原始碼 - Open source
    %p
      網站使用
      %code Rails 4.2.0
      \-
      GitHub:
      = link_to 'APB-Shuttle', 'https://github.com/jiunjiun/APB-Shuttle', class: 'dotted mixpanel-tracked'
    %p
      Android
      \-
      GitHub:
      = link_to 'APB-Shuttle-Android', 'https://github.com/jiunjiun/APB-Shuttle-Android', class: 'dotted mixpanel-tracked'
    %p
      本網站、APP有任何問題，歡迎提出Issues或是聯絡我。
    %br

    -# %h3 感謝
    -# %p
    -#   感謝133T Tony Wang、
    -#   = link_to '江威龍(最強替代役)', 'http://fb.com/weilung.chiangwen', class: 'dotted', target: '_blank'
    -# %br

    %h3 開發與聯絡方式
    %p
      133T
      = link_to '陳均均(jiunjiun)', 'http://fb.com/doublejiun', class: 'dotted mixpanel-tracked', target: '_blank'
      ,
      = mail_to 'quietmes@gmail.com', nil, class: 'dotted'
    %br

    %p
      %iframe{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=jiunjiun&repo=apb-shuttle&type=star&count=true", :width => "85px"}
      %iframe{:frameborder => "0", :height => "20px", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=jiunjiun&repo=apb-shuttle&type=fork&count=true", :width => "85px"}
