.row.text-center#announce
  .col-md-12
    %h1= t 'announce'
    %p
      這段期間非常感謝學長姊們的關心
    %p
      %strong
        %u 網站將會一直服務下去，別擔心!
    %br/
    %p
      也希望各位學長姊分享給有使用車表的學長姊
      %strong
        = link_to '按我分享', 'line://msg/text/APB Shuttle 車表資訊 | http://apb-shuttle.info', class: 'dotted'
    %br/
    %p
      若大家有任何的問題，或是需要改進的地方，歡迎和我聯絡
    %p.contact_me
      = link_to 'Line', 'http://line.me/ti/p/J3gdhKgQ75', target: '_blank'
      |
      = link_to 'Facebook', 'http://fb.com/doublejiun', target: '_blank'
      |
      = mail_to 'quietmes@gmail.com', 'Email'

    %br/
    %p.by
      133T 陳祈均 | 2015-09-15
