.col-md-9{:role => "main"}
  .bs-docs-section
    %h1#introduction.page-header 前言
    %p.lead
      Hey!
      %br
      本車表主要使用網頁來顯示，為了往後能有APP(iOS, Android)型式出現，因此提供
      %code API
      ，歡迎使用並提出任何問題。
    %h3#how_to_use.page-header 使用方法
    %p
      主要透過下面網址，來取得車表資訊，並以
      %code json
      格式顯示
    .highlight
      %pre
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/<PARAMS>.json"
    %h3#how_to_use.page-header Ruby Gem
    %p
      提供
      %code Ruby Gem
    .highlight
      %pre
        %code.language-bash{"data-lang" => "url"}
          gem install apb_shuttle_api
  .bs-docs-section
    %h1#bus_info.page-header 車表資訊
    %p.lead
      車表資訊，目前提供三項
      %code API
      服務
      %ul
        %li 最新車表 - Now
        %li 下一班車表 - Next
        %li 全部車表 - All

    %h3#bus_info-now 最新車表 - Now
    %p 目前時間最靠近的車表資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/now.json"
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"bus": {"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"19:00"},"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td bus
          %td Object
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

    %br

    %h3#bus_info-next 下一班車表 - Next
    %p 目前時間下一班資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/next/<NEXT>.json"
    %h4 Example
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/next/1.json"
    %h4 Result
    .highlight
      %pre
        {"bus":{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:35"},"status":{"code":200,"message":"ok"}}

    %p
      %span.label.label-info Parameter
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td next
          %td Integer
          %td 顯示下幾班的資訊
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"bus":{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:35"},"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td bus
          %td Object
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

    %br

    %h3#bus_info-all 全部車表 - All
    %p 所有車表資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all.json"
    %p 你也可以讀取前10筆資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/<LIMIT>.json"
    %h4 Example
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/10.json"
    %h4 Result
    .highlight
      %pre
        {"buses":[{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"00:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"01:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"02:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"03:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"04:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"04:45"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"04:50"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"04:55"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"05:15"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"05:20"}],"status":{"code":200,"message":"ok"}}
    %p
      %span.label.label-info Parameter
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td limit
          %td Integer
          %td 前幾筆資訊
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"buses":[{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"00:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"01:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"02:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"03:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"04:10"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"04:45"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"04:45"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"04:55"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"05:15"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"05:20"},{"name":"航警局","kind":3,"special":false,"note":"大型警備車","depart":"05:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"06:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"07:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"07:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"07:35"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"07:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"07:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"08:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"08:05"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"08:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"08:20"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"08:35"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"08:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"08:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"08:50"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"09:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"09:05"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"09:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"09:35"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"09:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"09:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"10:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"10:05"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"10:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"10:35"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"10:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"10:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"11:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"11:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"11:05"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"11:10"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"11:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"11:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"12:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"12:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"12:05"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"12:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"12:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"13:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"13:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"13:05"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"13:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"13:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"14:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"14:05"},{"name":"航警局","kind":3,"special":false,"note":"大型警備車","depart":"14:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"14:35"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"14:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"14:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"14:50"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"15:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"15:05"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"15:10"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"15:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"15:35"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"15:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"15:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"16:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"16:05"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"16:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"16:35"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"16:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"16:40"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"17:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"17:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"17:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"17:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"17:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"17:45"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"18:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"19:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"19:30"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:35"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"19:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"20:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"20:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"20:45"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"21:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"21:30"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"21:35"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"21:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"22:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"22:05"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"22:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"22:30"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"22:40"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"23:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"23:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"23:15"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"23:20"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"23:25"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"23:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"23:45"}],"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td buses
          %td Object[]
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

    %br

    %h3#bus_info-all-apb 全部車表 - APB
    %p 所有警備車車表資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/apb.json"
    %p 你也可以讀取前10筆資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/apb/<LIMIT>.json"
    %h4 Example
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/apb/10.json"
    %h4 Result
    .highlight
      %pre
        {"buses":[{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"00:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"01:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"02:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"03:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"04:10"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"04:45"},{"name":"航警局","kind":3,"special":false,"note":"大型警備車","depart":"05:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"06:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"07:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"08:10"}],"status":{"code":200,"message":"ok"}}
    %p
      %span.label.label-info Parameter
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td limit
          %td Integer
          %td 前幾筆資訊
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"buses":[{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"00:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"01:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"02:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"03:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"04:10"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"04:45"},{"name":"航警局","kind":3,"special":false,"note":"大型警備車","depart":"05:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"06:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"07:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"08:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"08:20"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"08:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"08:50"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"09:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"09:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"10:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"10:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"11:00"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"11:10"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"11:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"11:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"12:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"12:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"13:00"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"13:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"13:40"},{"name":"航警局","kind":3,"special":false,"note":"大型警備車","depart":"14:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"14:40"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"14:50"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"15:10"},{"name":"航警局","kind":2,"special":true,"note":"中型警備車","depart":"15:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"15:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"16:10"},{"name":"航警局","kind":1,"special":false,"note":"中型警備車","depart":"16:40"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"17:05"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"17:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"18:10"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"19:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"20:10"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"21:00"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"21:40"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"22:10"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"23:00"},{"name":"航警局","kind":2,"special":false,"note":"中型警備車","depart":"23:25"},{"name":"航警局","kind":3,"special":false,"note":"中型警備車","depart":"23:40"}],"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td buses
          %td Object[]
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

    %br

    %h3#bus_info-all-orange 全部車表 - Orange
    %p 所有車表資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/orange.json"
    %p 你也可以讀取前10筆資訊
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/orange/<LIMIT>.json"
    %h4 Example
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/all/orange/10.json"
    %h4 Result
    .highlight
      %pre
        {"buses":[{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"04:45"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"04:55"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"05:15"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"05:20"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"07:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"07:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"07:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"07:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"08:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"08:05"}],"status":{"code":200,"message":"ok"}}
    %p
      %span.label.label-info Parameter
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td limit
          %td Integer
          %td 前幾筆資訊
    %p
      %span.label.label-success Success 200

    .highlight
      %pre
        {"buses":[{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"04:45"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"04:55"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"05:15"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"05:20"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"07:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"07:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"07:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"07:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"08:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"08:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"08:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"08:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"09:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"09:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"09:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"09:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"10:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"10:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"10:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"10:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"11:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"11:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"12:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"12:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"12:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"13:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"13:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"14:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"14:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"14:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"14:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"15:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"15:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"15:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"15:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"16:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"16:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"16:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"16:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"17:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"17:10"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"17:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"17:45"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"19:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"19:30"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"19:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"20:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"20:45"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"21:30"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"21:35"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"22:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"22:05"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"22:30"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"22:40"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"23:00"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"23:15"},{"name":"亞通客運","kind":4,"special":false,"note":"T1 to 航警局","depart":"23:20"},{"name":"亞通客運","kind":4,"special":false,"note":"T2 to T1","depart":"23:45"}],"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td buses
          %td Object[]
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;kind
          %td Integer
          %td 類型(1: 局本部, 2:保安隊, 3:安檢隊, 4:亞通客運)
        %tr
          %td &nbsp;&nbsp;special
          %td Boolean
          %td 是否為加班車
        %tr
          %td &nbsp;&nbsp;note
          %td String
          %td 備註(車種類型)
        %tr
          %td &nbsp;&nbsp;depart
          %td String
          %td 發車時間
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息

  .bs-docs-section
    %h1#other_info.page-header 其他資訊
    %p.lead
      提供警備車圖表以及亞通客運參考圖片、來源

    %h3#bus_table_info 其他資訊 - Info
    .highlight
      %pre
        %span.label.label-primary GET
        %code.language-bash{"data-lang" => "url"}
          = "#{api_url}/info.json"

    %p
      %span.label.label-success Success 200
    .highlight
      %pre
        {"info":{"apb":{"original":{"name":"IMG_1861_2.JPG","size":"2112197","content_type":"image/jpeg","updated_at":"2015-02-17T00:56:29.000+08:00"},"imgs_url":{"original":"http://apb.dev/uploads/photo/file/1/IMG_1861_2.JPG","desktop":"http://apb.dev/uploads/photo/file/1/desktop_IMG_1861_2.JPG","tablet":"http://apb.dev/uploads/photo/file/1/tablet_IMG_1861_2.JPG}","mobile":"http://apb.dev/uploads/photo/file/1/mobile_IMG_1861_2.JPG}"}},"orange":{"ref_img":"http://www.orangebus.com.tw/data/editor_upload/images/AIRPORT-20150205.JPG","ref_link":"http://www.orangebus.com.tw/info.php?catId=6"}},"status":{"code":200,"message":"ok"}}
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th Field
          %th Type
          %th Description
      %tbody
        %tr
          %td info
          %td Object[]
          %td 車輛資訊
        %tr
          %td &nbsp;&nbsp;apb
          %td Object[]
          %td 警備車資訊
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;original
          %td Object[]
          %td 原始圖片
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name
          %td String
          %td 名稱
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;size
          %td String
          %td 大小
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;content_type
          %td String
          %td 圖片格式
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;updated_at
          %td String
          %td 最後更新時間
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;imgs_url
          %td Object[]
          %td 圖片樣式
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;original
          %td String
          %td 原始尺寸
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;desktop
          %td String
          %td 桌面尺寸(w724*h965)
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tablet
          %td String
          %td 平板尺寸(w596*h792)
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mobile
          %td String
          %td 手機尺寸(w230*h304)
        %tr
          %td &nbsp;&nbsp;orange
          %td Object[]
          %td 亞通客運資訊
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;ref_img
          %td String
          %td 參考圖片連結
        %tr
          %td &nbsp;&nbsp;&nbsp;&nbsp;ref_link
          %td String
          %td 參考連結
        %tr
          %td status
          %td Object
          %td 狀態資訊
        %tr
          %td &nbsp;&nbsp;code
          %td Integer
          %td 回傳編碼(200: 成功, 400: 錯誤)
        %tr
          %td &nbsp;&nbsp;message
          %td String
          %td 回傳訊息
