.row.text-center
  .col-md-12
    %h1.title
      = t('oranges.name')

    = link_to @bus_img.link do
      = image_tag @bus_img.link, width: '60%', class: 'img-thumbnail'

  .col-md-12
    .ref
      = link_to @ref_link.link, class: 'dotted' do
        = t('helpers.ref')

