%ul.breadcrumb.breadcrumb-page
  .breadcrumb-label.text-light-gray= t('helpers.you_are_here')
  %li
    %a{:href => admin_root_path}= t('backend')
  %li
    = t('settings.name')
  %li.active
    = t('settings.orange')
.page-header
  .text-lg
    = t('settings.orange')

.row
  .col-lg-12
    %table.table.table-striped
      %thead
        %tr
          %th.col-md-1
          %th.col-md-2.text-center
            = t('settings.oranges.description')
          %th.col-md-9.text-center
            = t('settings.oranges.link')

      - @relations.each do |relation|
        %tr
          %td
            = link_to edit_admin_settings_orange_path(relation), class: 'btn btn-xs btn-info btn-flat' do
              = t('helpers.edit')
          %td.text-center
            = relation.description
          %td.text-center
            = relation.link