%ul.breadcrumb.breadcrumb-page
  .breadcrumb-label.text-light-gray= t('helpers.you_are_here')
  %li
    %a{:href => admin_root_path}= t('backend')
  %li
    = link_to t('oranges.name'), admin_oranges_path
  %li.active
    = t('helpers.add')
.page-header
  .text-lg
    = t('oranges.name')
.row
  .col-lg-12
    = render 'form'