%footer.bs-docs-footer{:role => "contentinfo"}
  .container
    %p
      2015&nbsp;·&nbsp;
      = link_to '陳均均(jiunjiun)', 'https://github.com/jiunjiun', target: '_blank'
      &nbsp;·&nbsp;API Doc template by
      = link_to 'Bootstrap', 'http://getbootstrap.com/', target: '_blank'
    %p
      Code licensed under
      = succeed "," do
        %a{:href => "https://github.com/jiunjiun/APB-Shuttle/blob/master/LICENSE", :target => "_blank"} MIT
      documentation under
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
    %ul.bs-docs-footer-links.text-muted
      %li Currently v1.6.2
      %li ·
      %li
        = link_to 'GitHub', 'https://github.com/jiunjiun/APB-Shuttle', target: '_blank'
      %li ·
      %li
        = link_to 'About', about_path
      %li ·
      %li
        = link_to 'Blog', "http://jiunjiun.logdown.com"
