%footer.bs-docs-footer{:role => "contentinfo"}
  .container
    %p
      2015·
      = link_to 'https://github.com/jiunjiun', target: '_blank' do
        陳均均(jiunjiun)
    %p
      Code licensed under
      = succeed "," do
        %a{:href => "https://github.com/jiunjiun/apb-bus/blob/master/LICENSE", :target => "_blank"} GPL
      documentation under
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
    %ul.bs-docs-footer-links.text-muted
      %li Currently v1.0.0
      %li ·
      %li
        = link_to 'https://github.com/jiunjiun/apb-bus', target: '_blank' do
          GitHub
      %li ·
      %li
        = link_to 'About', about_path
      %li ·
      %li
        = link_to 'Blog', "http://jiunjiun.logdown.com"