<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ieß" lang="zh-TW"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>APB-Bus</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'http://labs.rampinteractive.co.uk/touchSwipe/jquery.touchSwipe.min.js', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="assets/javascripts/ie.min.js"></script>
    <![endif]-->

    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
  <!-- Menu -->
  <%= render partial: "common/nav" %>
  <div id="wrapper">
    <div id="sb-site">
      <div id="menu">
        <div class="sb-toggle-right">
          <i class="fa fa-bars fa-2x"></i>
        </div>
      </div>
      <div id="container" class="container-fluid">
        <div class="row text-center">
          <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
            <%= yield %>
          </div>
        </div>
      </div>

      <%= render partial: 'common/footer' %>
    </div>
  </div>
  <%= yield :js %>
  </body>
</html>
