<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ieß" lang="zh-TW" id="index"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="APB Shuttle | 本網站主要提供航警局與航廈來往車班資訊，並包含亞通客運，以方便同仁搭車。">
    <meta name="author" content="">

    <meta property="og:title" content="APB Shuttle" />
    <meta property="og:url" content="https://apb-shuttle.info" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url('preview.png') %>" />
    <meta name="robots" content="noindex, nofollow">
    <link rel="image_src" href="https://pic.pimg.tw/raindog/1430064152-3008564622.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <%= render partial: 'common/favicon' %>

    <title>APB Shuttle</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="assets/javascripts/ie.min.js"></script>
    <![endif]-->

    <%= analytics_init if Rails.env.production? %>
    <!-- hotjar -->
    <%= javascript_include_tag 'hotjar' %>
    <!-- Mixpanel -->
    <%= javascript_include_tag 'mixpanel' %>
  </head>

  <body>
  <!-- Menu -->
  <%= render partial: "common/nav" %>
  <div id="add-ons">
    <div class="weather tooltipped" data-position="bottom" data-delay="50">
      <i></i>
    </div>
  </div>
  <div id="menu">
    <div class="sb-toggle-right">
      <i class="fa fa-bars fa-2x"></i>
    </div>
  </div>
  <div id="wrapper">
    <div id="sb-site">
      <!-- MAIN IMAGE SECTION -->
      <article>
        <% if Date.today <= Date.parse('2015-09-21') %>
          <%= link_to t('announce'), announce_path, class: 'announce text-center', data: { no_turbolink: true } %>
        <% end %>
        <div class="inner">
          <hgroup>
            <header class="logo">
              <a href="<%= root_path %>" class="mixpanel-tracked">
                <i class="fa fa-bus"></i>
              </a>
            </header>
            <%= yield %>
            <%= render partial: "common/paginate" %>
          </hgroup>
        </div>
      </article>
      <%= render partial: 'common/footer' %>
    </div>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'refresh_page' %>
  <%= yield :js %>
  </body>
</html>
